$azul_var: blue;  //declarando a variavel

body{

  font-size: 20px;
}

.box{
  border: 1px solid;
  padding: 20px;
  margin: 20px auto;
  color: white;
  $azul_var: blue !default; // se não existir a variavel declarada no inicio
  //color: $azul_var;
  border-color: $azul_var;
  background-color: $azul_var;

  en{
    font-weight: bold;
  }
}

.vermelho{
  @extend .box;
  color: darkred;
  border-color: red;
}

.laranja{
  @extend .box;
  color: darkorange;
  border-color: orange;
}
